p {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 100px;
    color: cadetblue;
}
h1 {font-family: Arial, Helvetica, sans-serif;
    color: rgb(95, 0, 0);
    font-size: 400px;
    text-align: left;
}